.nav-item:after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: #000;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.floating-2 {
  animation: float2 4s ease-in-out infinite;
}

@keyframes float2 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

.floating-3 {
  animation: float3 6s ease-in-out infinite;
}

@keyframes float3 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.floating-4 {
  animation: float2 5s ease-in-out infinite;
}

@keyframes float2 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}
