@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=''] {
  display: none;
}

.body-bg {
  background: #2a2a2a;
}

.section-header {
  color: #1b9eee;
}

.hero-svg {
  bottom: -40px;
}

.hero-modal-iframe {
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 100%;
}

@media (max-width: 400px) {
  .hero-modal-iframe {
    top: 35%;
    left: 10%;
    width: 80%;
    height: 25%;
  }
}

.grow section:nth-child(even) {
  /* background-color: red; */
}

.grow section:nth-child(odd) {
  background: linear-gradient(
    0deg,
    rgba(42, 42, 42, 1) 0%,
    rgba(17, 17, 17, 1) 5%,
    rgba(17, 17, 17, 1) 95%,
    rgba(42, 42, 42, 1) 100%
  );
}

.grow footer:nth-child(even) {
  /* background-color: red; */
}

.grow footer:nth-child(odd) {
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 90%,
    rgba(42, 42, 42, 1) 100%
  );
}

.grow .first-section:nth-child(even) {
  /* background-color: red; */
}

.grow .first-section:nth-child(odd) {
  background: linear-gradient(
    0deg,
    rgba(42, 42, 42, 1) 0%,
    rgba(17, 17, 17, 1) 5%,
    rgba(17, 17, 17, 1) 95%,
    rgba(42, 42, 42, 1) 100%
  );
}

.warning {
  color: rgb(239 68 68);
  background-color: rgb(254 202 202);
  border-radius: 50px;
}

.hero-section {
  margin-top: 80px;
}

.header {
  background: #2a2a2a;
  z-index: 1;
  padding: 12px;
}
