@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=''] {
  display: none;
}

:root {
  /* fallback to sans-serif if Bolton fails to load */
  font-family: var(--font-bolton), sans-serif;
}

.body-bg {
  background: #f4f3e7;
}

.banner-text {
  font-size: 104px;
}
